<!DOCTYPE html>
<html>
  <head>
    <title>LightCms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice %>
      <div class="alert remind fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="alert remind fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><%= alert %></p>
      </div>
    <% end %>  

    <%= yield %>
  </body>
</html>
